.git
.gitignore
.github
vendor
node_modules
.env
.env.*
!.env.example
database/database.sqlite
bootstrap/cache/*.php
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
.phpunit.result.cache
tests
*.md
docker-compose*.yml
